.main{
    display: flex;
    flex: 0.15;
    margin-left: 15px;
}
hr{
    margin: 1rem 0 1rem 0;
    width: 100%;
    opacity: 70%;
}
.Sidebar h3{
    padding: 0 0 1rem 1rem;
    font-weight: 500;
}

